html {
    font-family: 'Roboto Serif', serif;
    background: #2d3740;
}

body {
    background: #1c262f;
    color: rgb(230, 225, 225);
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.main-container {
    max-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.runner {
    width: 70%;
    margin: 0 auto;
}

.inputSection {
    margin: 1rem 0 0.5rem;
}

form label {
    font-size: 1.5rem;
    font-weight: 500;
}

#milesToday {
    margin: 0.5rem 0;
    width: 50%;
    padding: 0.8rem 0;
    font-family: inherit;
    background:  rgb(230, 225, 225);
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

form button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    border-radius: 50%;
    background: #0ad9ff;
    margin: 0.5rem 0 0.5rem 0;
}

.entriesWrapper h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

section ul {
    padding: 0;
    display: flex;
    list-style: none;
}

section li {
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    border: 1px solid;
}

.data {
    font-size: 1.3rem;
}

.data div {
    background: #141c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.weeklyTarget {
    padding-bottom: 1rem;
}

.progressWrapper {
    display: flex;
    justify-content: center;
}

.progressCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressCenter {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #1c262f;
}

@media screen and (min-width: 800px) {
    body {
        width: 40%;
    }

    input[type="number"] {
        width: 40%;
    }

    svg {
        max-width: 50%;
    }
}